<%- include("partials/header") -%>

<div class="container mt-4 mb-4">
  <h2>
    <%= playlist.name %>:
  </h2>
  
  <div class="playlist-header">
    <h4>Playlist Actions:</h4>
    <div>
      <a href="/playlists/<%= playlist._id %>/edit" class="btn btn-sm btn-primary" title="Edit Playlist"><i class="fas fa-pencil-alt"></i></a>
      <a href="/playlists/<%= playlist._id %>/delete" class="btn btn-sm btn-danger" title="Delete Playlist"><i class="fas fa-trash-alt"></i></a>
      <a href="/playlists/<%= playlist._id %>/add-song" class="btn btn-sm btn-primary" title="Add Song to Playlist"><i class="fas fa-plus"></i></a>
    </div>
  </div>

  <table class="table table-transparent table-smaller">
    <thead>
      <tr>
        <th>Song Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% if (playlist.songs.length > 0) { %>
        <% playlist.songs.forEach((song) => { %>
          <tr>
            <td class="song-name">
              <span class="song-title"><%= song.name %></span>
              <audio class="audio-player" id="audio-player-<%= song._id %>" controls>
                <source src="<%='/' + song.filePath %>" type="audio/mp3">
                Your browser does not support the audio element.
              </audio>
            </td>
            <td class="song-actions">
              <a href="/songs/<%= song._id %>/edit" class="btn btn-sm btn-primary edit-song" title="Edit Song"
                data-song-id="<%=song._id%>"
                data-song-name="<%=song.name%>">
                 <i class="fas fa-pencil-alt"></i>
                </a>
              <a href="/songs/<%= song._id %>/delete" class="btn btn-sm btn-danger delete-song" title="Delete Song" 
                 data-song-id="<%= song._id %>"
                data-playlist-id="<%= playlist._id %>"><i class="fas fa-trash-alt"></i></a>
            </td>
          </tr>
        <% }); %>
      <% } else { %>
        <tr>
          <td colspan="2">No songs found in this playlist.</td>
        </tr>
      <% } %>
    </tbody>
  </table>
  
</div>
<%- include('partials/footer.ejs') -%>